<% @posts.each do |post| %>
  <div>
    <%= post.user.name %>
    <%= post.content %>
    <div id="favorite-button-<%= post.id %>">
      <%= render partial: 'posts/favorite', locals: { post: post} %>
    </div>
  </div>
<% end %>